<div class="row">
    <form class="col s12" action="/add" method="POST">
        <div class="row">
            <div class="input-field">
                <input placeholder="Placeholder" name="title" id="first_name" type="text" class="validate">
                <label for="first_name">Name</label>
            </div>
            <div class="input-field ">
                <input id="last_name" name="price" type="text" class="validate">
                <label for="last_name">Price</label>
            </div>
            <div class="input-field ">
                <input id="last_name" name="img" type="text" class="validate">
                <label for="last_name">URL Image</label>
            </div>
        </div>
        <button class="btn btn-primary">Submit</button>
    </form>
</div>